.about-me {
  @include section;
  background-image: url("../img/bg-aboutme.png");
  position: relative;
  background-size: 100%  82vh;
  background-repeat: no-repeat;
  margin-top: 10vh;
  padding-top: 10vh;
}

.about-me__wrapper {
  @include page-width;
  color: $white-color;
  @include flex-row-space;
  align-items: flex-start;
}

.about-me__image {
  background-image: url("../img/bg-about-me-image.png");
  border-radius: 50%;
  background-repeat: no-repeat;
  width: 36%;
  width: 22vw;
  height: 22vw;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  margin-top: -5vh;
  img {
   // border-radius: 50%;
    padding-top: 10px;
    width: 77%;
  }

  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.about-me__introduce {
  width: 40vw;
  @media (max-width: $tablet-width) {
    width: 55vw;
  }

  @media (max-width: $mobile-width) {
    width: 100vw;
    order: 2;
    margin-bottom: 2vh;
  }
}

.about-me__header {
  font-size: 2.3vh;
  font-family: $font-pragmatica-extended;
  margin-bottom: 25px;
}

.about-me__text-wrapper {
  margin-bottom: 3vh;
}

.about-me__text {
  font-size: 2vh;
  line-height: 3vh;
  color: #ffffff;
}

.about-me__experience {
  text-align: right;
  width: 40vw;
  margin-left: auto;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 100vw;
  }


  @media (max-width: $mobile-width) {
    width: 100vw;
    order: 3;
  }

  .about-me__button {
    margin-left: auto;

    @media (max-width: $mobile-width) {
      width: 50%;
      margin-left: 0;
    }

    @media (max-width: $tablet-width) {
    }
  }
}

.about-me__button {
  @include blue-button-promo;
  margin-top: 15px;
  width: 15%;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}