.contacts {
  @include section;
  margin-left: 10vw;
  position: relative;
  z-index: 0;
  background-size: 95%;
  background-position: 0 0;
    background-image: url("../img/contacts-bg-flying.png")
}

.contacts__wrapper {
  @include page-width;
}

.contacts__header {
  @include section-header;
  margin-bottom: 30px;
}

.contacts__group {
  width: 70%;
  //margin: 0 auto;
  
  @media(max-width: $tablet-width) {
    width: 100%;
  }
}

.contacts__image {
  position: absolute;
  top: 0;
 z-index:1;
 width: 36%;
  left: -19%;
  
  @media (max-width: $tablet-width) {
    display: none;
  }
} 

.contacts__item {
  padding: 1% 3%;
  border-radius: 10px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(170deg, #825482 0%, #da6d50 100%);
  
  &:before {
    content: "";
    width: 25%;
    height: 43%;
    bottom: -25%;
    right: -12%;
    z-index: 30;
    position: absolute;
    background-image: url("../img/contacts-bg.png");
    background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    display: none;
  }
  }
}

.contacts__item-header {
  font-size: calc(5.5*var(--rem);
  line-height: calc(7*var(--rem));
  color: #ffffff;
  font-family: $font-pragmatica-extended;
  margin-bottom: 2vh;
}

.contacts__item-text {
text-align: nenter;
  font-size: 2.6vh;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 300;
  margin-right: 2vh;
}

.contacts__item-image {
  width: 100%;
  margin-bottom: 20px;
}

.contacts__item-phone {
  @include flex-row;
}

.contacts__item-button {
  @include green-button;
  display: block;
  margin-left: auto;
  width: 30%;
  position: relative;
  z-index: 30;
  text-align: center;
  padding: 15px;
  margin-bottom: -35px;

  @media (max-width: $tablet-width) {
    padding: 0;
  margin-bottom: -25px;
  }
}
