.header {
  z-index: 80;
  padding-left: 10vw;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 100;
  
  @media (max-width: $tablet-width) {
    height: 15vh;
   // padding-top: 10vh;
  }
}

.header__wrapper {
  @include page-width;
  width: 83vw;
  height: 10vh;
 // width: 90vw;
  padding-bottom: 3vh;
  padding-top: 3vh;
  vertical-align: middle;
  @include flex-row;
  align-items: flex-start;
}

.header__logo-link {
  width: 31%;
  
  img {
    width: 80%;
  }

    @media (max-width: $tablet-width) {
    width: 100%;
      img {
        width: 20%;
      }
    }

    @media (max-width: $mobile-width) {
      img {
        width: 46%;
      }
    }
}

.header__nav {
  width: 69%;
}

.header__button {
  display: none;
  
  @media (max-width: $tablet-width) {
    @include button;
    display: block;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 25px;
    position: absolute;
    right: 1vw;
    top: 2%;
    top: 3vh;
    z-index: 90;
  }
}

.header__nav {
//  position: fixed;

  &--active {
    @media (max-width: $tablet-width) {
      .header__menu {
        width: 90%;
        position: absolute;
        top: 0;
        right: 50px;
        display: flex;
        padding: 20px 0;
        border-radius: 20px;
        z-index: 99;
      }

      .header__menu-item {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .header__button {
        background-image: url("../img/icon-cross.svg");
        z-index: 100;
      }
    }

    @media (max-width: $mobile-width) {
      .header__menu {
          width: 95%;
          right: 5%;
        }
        
      .header__menu-item {
        width: 90%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

.header__menu {
  @include flex-row-space;
  @include cancel-list;
//  position: fixed;
  
  
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__menu-item {
  a {
    color: $white-color;
    font-size: 3vh;
    text-transform: lowercase;
    text-decoration: none;
  }
}
