.opinion {
  @include section;
  position: relative;
  padding-left: calc(67*var(--rem));
  
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 3vh;
    position: absolute;
    background-image: url("../img/stars.png");
    background-repeat: no-repeat;
    left: 3vw;
  
  @media (max-width: $tablet-width) {
    width: 97vw;
  }
  }
  
  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.opinion__wrapper {
  @include page-width;
  position: relative;
}

.opinion__image {
  &--dark-racket {
    top: 0vh;
    right: -3vw;
  
    @media (max-width: $tablet-width) {
      right: 3vw;
    }
  }
}

.opinion__header {
  @include section-header;
  margin-bottom: 5vh;
  text-align: left;
  
  @media (max-width: $mobile-width) {
    margin-left: 0;
    text-align: center;
  }
}

.opinion__list-wrapper {
  position: relative;
 // width: 83vw;
  margin: 0 auto;
}

.opinion__button-arrows {
  @include slider-buttons;
  
  
  
  @media (max-width: $tablet-width) {
    top: -3vh;

    &--right {
      right: 0;
    }
    
    &--left {
      left: 0vw;
    }
  }
}

.opinion__list {
  @include cancel-list;
  @include flex-row-space;
  flex-wrap: nowrap;
  //overflow-x: scroll;
  margin-bottom: 40px;
  //width: 83vw;
  margin: 0 auto;
  margin-bottom: 5vh;
  position: relative;
}

.opinion__image {
  position: absolute;
  z-index: 10;
  &--planet {
    @include center;
    top: 15vh;
  }
  &--racket {
    @include center;
    top: 15vh;
    left: 5vh; 
  }
}

.opinion__item {
  width: 24%;
  border-radius: 50px;
  padding: 0 1vw 5vh 1vw;
  background-color: #bdaec3;
  opacity: 0.8;
  position: relative;
  padding-bottom: 10px;

  .opinion__image {
    &--racket {
      height: 15vh;
      top: -2vh;
      right: 7vh; 
      bottom: auto;
      left: auto;
    }
  }
  
  &:nth-child(5) {
    .opinion__image--racket {
      top: 15vh;
      right: 1vw;
    }
  }
  
  
  @media (max-width: $tablet-width) {
    width: 45%;
  }
  
  @media (max-width: $mobile-width) {
    width: 100%;
  }
  
  
  &--active {
    background-color: #e2e0e7;
    .opinion__item-button {
      display: block;
      opacity: 1;
    }
  }
}

.opinion__item-image {
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  margin-top: -3vh;
  overflow: hidden;
  border-radius: 20px;
  background-color: $white-color;
//  background-image: linear-gradient(90deg, #825482 0%, #da6d50 100%);
  margin-bottom: 10px;
}

.opinion__item-header {
  font-size: calc(4*var(--rem));
  line-height: calc(4.5*var(--rem);
  color: #3e3066;
  font-weight: 500;
  font-family: $font-pragmatica-extended;
  text-align: center;
  margin-bottom: 2vh;
}

.opinion__item-text {
  font-size: calc(4*var(--rem));
  line-height: calc(5.5*var(--rem);
  color: #3e3066;
  font-weight: 500;
  margin-bottom: 1vh;
  
  &:last-of-type {
    margin-bottom: 5vh;
  
    @media (max-width: $mobile-width) {
      margin-bottom: 60px;
    }
  }
}

.opinion__item-button {
  @include green-button;
  width: 92%;
  display: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
  @media (max-width: $mobile-width) {
    line-height: 16px;
  }
}

.opinion__text-button {
  @include flex-row-space;
  margin-bottom: 60px;
  width: 100%;
  margin: 0 auto;
  
  @media (max-width: $tablet-width) {
    width: 95vw;
  }
}

.opinion__text {
  font-size: calc(4.8*var(--rem));
  line-height: calc(6*var(--rem);
  color: #ffffff;
  font-weight: 500;
  width: 61%;
  
  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.opinion__button {
  @include violet-button;
  width: 38%;
  
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
