.portfolio {
  @include section;
  position: relative;
  margin-right: 25vw;

  @media (max-width: $tablet-width) {
    width:  97vw;
    margin-right: 0;
  }
  
  &:before {
    content: "";
    width: 35vw;
    height: 80vh;
    z-index: 1;
    left: -12vw;
    top: -28vh;
    position: absolute;
    background-image: url("../img/bg-portfolio.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;

    @media (max-width: $tablet-width) {
      display: none;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
  }
}

.portfolio__image {
  position: absolute;
  z-index: 1;
  
  &--planet {
    right: -15vw;
    bottom: 10vh;

    @media (max-width: $tablet-width) {
      right: 0;
      bottom: 10vh;
    }
  }
  
  &--racket {
    bottom: 15vh;
    left: 5vw;

    @media (max-width: $tablet-width) {
      right: 5vw;
      bottom: 30vh;
      left: auto;
    }
  }
  
  &--dark-racket {
    top: 15vh;
    right: -12vw;

    @media (max-width: $tablet-width) {
      top: 15vh;
      right: 12vw;
    }
  }
}

.portfolio__wrapper {
  @include page-width;
}

.portfolio__slides-wrapper {
  position: relative;
  //width: 8vw;
  margin: 0 auto;
}

.portfolio__button-arrows {
  @include slider-buttons;
}

.portfolio__slides {
  @include cancel-list;
  margin-bottom: 2vh;
}

.portfolio__slide {
  display: none;
  background-color: #e9e3ea;
  padding: 3vh 2vw 3vh 5vw; 
border-radius: 30px;
  
  &--active {
@include flex-row-space;
  }
    
    @media (max-width: $mobile-width) {
      width: 94vw;
  padding: 3vh 2vw 3vh 10vw; 
    }
}

.portfolio__slide-header-image {
  width: 30%;
    
    @media (max-width: $tablet-width) {
      width: 100%;
    }
}

.portfolio__slide-image {
  width: 100%;
    
    @media (max-width: $tablet-width) {
      margin: 0 auto;
      display: block;
      margin-bottom: 3vh;
      width: 30%;
    }
    
    @media (max-width: $mobile-width) {
      width: 40%;
    }
}

.portfolio__slide-button-list {
  @include flex-row;
  @include cancel-list;
  justify-content: center;
    
  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.portfolio__slide-button-item {
  margin-right: 10px;
  background-color: $white-color;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #eda173;
    
    @media (max-width: $tablet-width) {
      width: 15px;
      height: 15px;
    }
  
  &--active {
    background-color: #eda173;
  }
  
  &:last-child {
    margin-right: 0;
  }
}

.portfolio__slide-main {
  width: 60%;
    
    @media (max-width: $tablet-width) {
      width: 100%;
      @include flex-row;
      align-items: flex-start;
    }
}

.portfolio__slide-text {
  width: 84%;
    
    @media (max-width: $tablet-width) {
      width: 100%;
    }
}

.portfolio__slide-header {
  font-size: 3.5vh;
  color: #3e3066;
  font-weight: 500;
  font-family: $font-pragmatica-extended;
  margin-bottom: 5vh;
    
    @media (max-width: $tablet-width) {
      margin-bottom: 15px;
    }
}

.portfolio__slide-text-group {
  @include flex-row;
  align-items: flex-start;
  
  &--purpose {
      @media (max-width: $tablet-width) {
        width: 50%;
      }
    
    @media (max-width: $mobile-width) {
      width: 100%;
    }
    .portfolio__slide-item {
      &:before {
        background-image: url("../img/icon-purpose-item.png");
        }
    }
  }
  
  &--task {
      @media (max-width: $tablet-width) {
        width: 50%;
      }
    
    @media (max-width: $mobile-width) {
      width: 100%;
    }

    .portfolio__slide-item {
      &:before {
        background-image: url("../img/icon-task-item.png");
      }
    }
  }
  
  &--methods {
    @media (max-width: $tablet-width) {
      width: 100%;
    }
    .portfolio__slide-item {
      &:before {
        background-image: url("../img/icon-methods-item.png");
      }
    }
  }
  
  img {
    margin-right: 30px;
    
    @media (max-width: $tablet-width) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

.portfolio__slide-list {
  @include cancel-list;
}

.portfolio__slide-item {
  @include flex-row;
  align-items: flex-start;
  font-size: 2vh;
  line-height: 2.3vh;
  color: #3e3066;
  font-weight: 300;
  margin-bottom: 1vh;
  position: relative;
    
    @media (max-width: $tablet-width) {
      width: 100%;
    }
  
  &:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -3vw;
    top: 0px;
    background-repeat: no-repeat;
  
  @media (max-width: $mobile-width) {
    left: -8vw;
  }
  }
  
  span {
    width: 90%;
    display: block;
  }
}

.portfolio__slide-text-group-header {
  font-size: 3.5vh;
  line-height: 3.4vh;
  color: #3e3066;
  font-weight: 500;
  margin-bottom: 2vh;
    
    @media (max-width: $tablet-width) {
      font-size: 20px;
    }
}

.portfolio__button {
  @include blue-button;
  margin-left: auto;
  display: block;
  width: 30vw;
  margin-top: 2vh;
    
    @media (max-width: $tablet-width) {
      width: 90%;
      margin: 0 auto;
    }
  
}