.price {
  @include section;

  @media (max-width: $mobile-width) {
    padding-top: 30px;
  }
}

.price__wrapper {
  @include page-width;
  @include flex-row;
}

.price__header {
  @include section-header;
  margin-bottom: 30px;
  margin-right: 5vw;
  width: 20vw; 

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    width: 33%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.price__text {
  @include section-text;
  text-transform: lowercase;
  width: 55vw; 

  @media (max-width: $tablet-width) {
    width: 57%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.price__list-wrapper {
  border-radius: 80px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 40px;
  width: 40vw;
  background-color: #c2aec0;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    width: 55%;
  }
  
  @media(max-width: $mobile-width) {
    width: 94%;
    margin-bottom: 30px;
    border-radius: 30px;
    padding-top: 20px;
  }
}

.price__list {
  @include cancel-list;
}

.price__item {
  @include flex-row-space;
  align-items: flex-start;
  margin-bottom: 20px;
}

.price__button {
  @include green-button;
}

.price__item-header {
  font-size: 2.5vh;
  line-height: 2.5px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
}

.price__item-number {
  font-size: 2.2vh;
  line-height: 2.5vh;
  color: #5a4485;
  font-weight: 500;
  text-align: right;
  margin-bottom: 10px;
}

.price__item-text {
  font-size: 2.0vh;
  line-height: 2.5vh;
  font-weight: 500;
  width: 100%;
}

.price__form-wrapper {
  width: 38vw;
  margin-left: auto;

  @media (max-width: $tablet-width) {
    width: 35%;
  }
  
  @media(max-width: $mobile-width) {
    width: 100%;
  }
}

.price__form-header {
  @include text;
  margin-bottom: 20px;
}

.price__form-text {
  font-size: 2.6vh;
  line-height: 3vh;
  color: #ffffff;
  margin-bottom: 20px;
}

.price__form-input {
  padding: 15px;
  width: 80%;
border-radius: 10px;
margin-bottom: 20px;
font-size: 2.6vh;
    line-height: 3vh;
color: #bfbebe;

  @media (max-width: $mobile-width) {
    
  }
}

.price__form-button {
  @include blue-button-in-form;
}