.promo {
  @include section;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width) {
    //padding-bottom: 90px;
    padding-top: 10vh;
  }
}

.promo__wrapper {
  @include page-width;
  background-repeat: no-repeat;
  background-position: 88% 0;
 // padding-bottom: 100px;
 padding-top: 15vh;
  @include flex-row-space;
  align-items: flex-start;
  flex-wrap: wrap;
  

  @media (max-width: $tablet-width) {
    background-size: 40%;
    background-position: 100% 0;
    padding-top: 100px;
  }

  @media (max-width: $mobile-width) {
    background-size: 42%;
    background-position: 0 0;
  }
}

.promo__header {
  font-size: 5vh;
  line-height: 8vh;
  color: #fa868f;
  font-weight: 500;
  font-family: "Pragmatica";
  margin-bottom: 30px;
  font-weight: 500;

  @media (max-width: $tablet-width) {
    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
  
  .wrapper {
     display: inline-block;
    top: -900px;
    position: relative;
    height: 150px; /* default */
    width: 90px; /* default */
    transition: ease 0.3s all;
    
    span {
      position: absolute;
      top:0;
      right:0;

      transition: ease 0.3s all;
      
      &.letter-2 {
        color: #ffffff;
      }

      &.letter-1 {
       // color: #ffffff;
        z-index: 1;
        
        &:hover {
           top: -3px;
           right: -3px;
           
           ~ .letter-2 {
             top: 3px;
             right: 3px;
           }
        }
      }
      
      &.space {
        padding: 0;
        min-width: 10px;
        display: inline-block;
      }
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    font-size: 4vh;
    line-height: 5vh;
    text-align: center;
    line-height: 28px;
  }
}

.promo__texts-button {
  margin-bottom: 30px;
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 70vw;
  }

  @media (max-width: $mobile-width) {
    width: 100vw;
  }
}

.promo__texts {
  margin-bottom: 30px;
  width: 47vw;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    order: 2;
    width: 100%;
  }
}

.promo__text {
  font-size: 3vh;
  color: $white-color;
  font-family: "pragmatica extended";
    margin-bottom: 5px;
  
  &:last-of-type {
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.promo__texts-right {
  margin-bottom: 20vh;
  margin-right: 4vw;
  width: 100%;
 margin-top: -20vh;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-top: 2%;
    margin-bottom: 0;
  }
}

@keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
      left: 0px;               /* от: left: 0px */
    }
    to {
      left: calc(5% - 50px); /* до: left: 100%-50px */
    }
  }

.promo__image {
  margin-top: -10vh;
  padding-right: 21vw;
  animation: go-left-right 3s infinite alternate;
  position: relative;
  width: 40vw;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding-right: 0;
  width: 20vw;
    
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    order: -1;
 //   margin-left: 0;
    margin: 0 auto;
  }
}

.promo__text-right {
  font-size: 2vh;
  line-height: 3vh;
  color: $white-color;
  font-family: "pragmatica extended";
  text-align: right;
  margin-right: 2vw;
  text-transform: uppercase;
  width: 100%;
 // margin-left: -20vw;

  @media (max-width: $tablet-width) {
    text-align: left;
    margin-bottom: 0;
  }
}

.promo__button {
  @include blue-button-promo;
}