.promo {
  @include section;
  background-repeat: no-repeat;
  padding-top: 18vh;

  @media (max-width: $mobile-width) {
    //padding-bottom: 90px;
    padding-top: 10vh;
  }
}

.promo__wrapper {
  @include page-width;
  background-repeat: no-repeat;
  background-position: 88% 0;
 // padding-bottom: 100px;
 padding-top: 4%;
  @include flex-row-space;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  

  @media (max-width: $tablet-width) {
    background-size: 40%;
    background-position: 100% 0;
    padding-top: 50px;
    width: 95%;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    background-size: 42%;
    background-position: 0 0;
 padding-top: 10vh;
  }
}

.promo__header {
  font-size: calc(9*var(--rem));
  line-height: calc(14*var(--rem));
 // : 5.2rem;
  color: #fa868f;
  font-weight: 500;
  font-family: "Pragmatica";
  margin-bottom: 4vh;
  font-weight: 500;

  @media (max-width: $mobile-width) {
  font-size: 3vmin;
    br {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
  
  .wrapper {
     display: inline-block;
    top: -900px;
    position: relative;
    height: 150px; /* default */
    width: 90px; /* default */
    transition: ease 0.3s all;
    
    span {
      position: absolute;
      top:0;
      right:0;

      transition: ease 0.3s all;
      
      &.letter-2 {
        color: #ffffff;
      }

      &.letter-1 {
       // color: #ffffff;
        z-index: 1;
        
        &:hover {
           top: -3px;
           right: -3px;
           
           ~ .letter-2 {
             top: 3px;
             right: 3px;
           }
        }
      }
      
      &.space {
        padding: 0;
        min-width: 10px;
        display: inline-block;
      }
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    font-size: 3vmin;
    line-height: 5vmin;
    text-align: center;
  }
}

.promo__texts-button {
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    width: 60vmax;
    margin-bottom: 0;
    order: 1;
  }

  @media (max-width: $mobile-width) {
    width: 100vmin;
  }
}

.promo__texts {
  margin-bottom: 6.5vmin;
    width: 100%;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    order: 2;
    width: 100%;
  }
}

.promo__text {
  @include text-header;
  margin-bottom: 0.5vmin;
}

.promo__texts-right {
  margin-bottom: 15vmin;
  margin-right: 4vmax;
  width: 100%;
  position: absolute;
  bottom: 2%;
  margin-right: 40vmax;
  //right: -60vw;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: static;
    margin-right: 0;
    text-transform: none;
    width: auto;
    width: 66%;
  order: 2;
  }
  

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

@keyframes go-left-right {   /* назовём анимацию: "go-left-right" */
    from {
      left: 0px;               /* от: left: 0px */
    }
    to {
      left: calc(5% - 50px); /* до: left: 100%-50px */
    }
  }

.promo__image {
  margin-top: calc(-20*var(--rem));
  animation: go-left-right 3s infinite alternate;
  position: relative;
  padding-right: 9%;
  width: 46%;
  width: calc(165*var(--rem));
  margin-left: -64%;

  @media (max-width: $tablet-width) {
  margin-top: -30vh;
//    padding-right: 0;
  margin-left: 0;
  order: 3;
  padding-right: 0;
    
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    order: -1;
 //   margin-left: 0;
    margin: 0 auto;
  }
}

.promo__text-right {
  font-size: calc(4*var(--rem));
  color: $white-color;
  font-family: "pragmatica extended";
  text-align: right;
  text-transform: uppercase;
  width: 100%;

  @media (max-width: $tablet-width) {
    text-align: left;
    margin-bottom: 0;
  }
}

.promo__button {
  @include blue-button-promo;
  

  @media (max-width: $tablet-width) {
    margin-top:  80vmin;
  }
}