@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/pPragmaticaCond-LightOblique.eot');
    src: local('../fonts/pPragmatica Cond Light Oblique'), local('../fonts/PragmaticaCond-LightOblique'),
        url('../fonts/pPragmaticaCond-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pPragmaticaCond-LightOblique.woff2') format('woff2'),
        url('../fonts/pPragmaticaCond-LightOblique.woff') format('woff'),
        url('../fonts/pPragmaticaCond-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/pPragmaticaExtended-BookOblique.eot');
    src: local('../fonts/pPragmatica Extended Book Oblique'), local('../fonts/PragmaticaExtended-BookOblique'),
        url('../fonts/pPragmaticaExtended-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pPragmaticaExtended-BookOblique.woff2') format('woff2'),
        url('../fonts/pPragmaticaExtended-BookOblique.woff') format('woff'),
        url('../fonts/pPragmaticaExtended-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Shadow';
    src: url('../fonts/pPragmaticaShadow-Oblique.eot');
    src: local('../fonts/pPragmatica Shadow Oblique'), local('../fonts/PragmaticaShadow-Oblique'),
        url('../fonts/PragmaticaShadow-Oblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaShadow-Oblique.woff2') format('woff2'),
        url('../fonts/PragmaticaShadow-Oblique.woff') format('woff'),
        url('../fonts/PragmaticaShadow-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-ExtraLightObliqu.eot');
    src: local('../fonts/Pragmatica Cond ExtraLight Oblique'), local('../fonts/PragmaticaCond-ExtraLightObliqu'),
        url('../fonts/PragmaticaCond-ExtraLightObliqu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-ExtraLightObliqu.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-ExtraLightObliqu.woff') format('woff'),
        url('../fonts/PragmaticaCond-ExtraLightObliqu.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraLightOblique.eot');
    src: local('../fonts/Pragmatica ExtraLight Oblique'), local('../fonts/Pragmatica-ExtraLightOblique'),
        url('../fonts/Pragmatica-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-ExtraLightOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraLightOblique.woff') format('woff'),
        url('../fonts/Pragmatica-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-Book.eot');
    src: local('../fonts/Pragmatica Cond Book'), local('../fonts/PragmaticaCond-Book'),
        url('../fonts/PragmaticaCond-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-Book.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-Book.woff') format('woff'),
        url('../fonts/PragmaticaCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-Light.eot');
    src: local('../fonts/Pragmatica Extended Light'), local('../fonts/PragmaticaExtended-Light'),
        url('../fonts/PragmaticaExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-Light.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-Light.woff') format('woff'),
        url('../fonts/PragmaticaExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraBoldOblique.eot');
    src: local('../fonts/Pragmatica ExtraBold Oblique'), local('../fonts/Pragmatica-ExtraBoldOblique'),
        url('../fonts/Pragmatica-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-ExtraBoldOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraBoldOblique.woff') format('woff'),
        url('../fonts/Pragmatica-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-Medium.eot');
    src: local('../fonts/Pragmatica Extended Medium'), local('../fonts/PragmaticaExtended-Medium'),
        url('../fonts/PragmaticaExtended-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-Medium.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-Medium.woff') format('woff'),
        url('../fonts/PragmaticaExtended-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-BlackOblique.eot');
    src: local('../fonts/Pragmatica Extended Black Oblique'), local('../fonts/PragmaticaExtended-BlackOblique'),
        url('../fonts/PragmaticaExtended-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-BlackOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-BlackOblique.woff') format('woff'),
        url('../fonts/PragmaticaExtended-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-Book.eot');
    src: local('../fonts/Pragmatica Extended Book'), local('../fonts/PragmaticaExtended-Book'),
        url('../fonts/PragmaticaExtended-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-Book.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-Book.woff') format('woff'),
        url('../fonts/PragmaticaExtended-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-Black.eot');
    src: local('../fonts/Pragmatica Extended Black'), local('../fonts/PragmaticaExtended-Black'),
        url('../fonts/PragmaticaExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-Black.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-Black.woff') format('woff'),
        url('../fonts/PragmaticaExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-BoldOblique.eot');
    src: local('../fonts/Pragmatica Extended Bold Oblique'), local('../fonts/PragmaticaExtended-BoldOblique'),
        url('../fonts/PragmaticaExtended-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-BoldOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-BoldOblique.woff') format('woff'),
        url('../fonts/PragmaticaExtended-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-Medium.eot');
    src: local('../fonts/Pragmatica Cond Medium'), local('../fonts/PragmaticaCond-Medium'),
        url('../fonts/PragmaticaCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-Medium.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-Medium.woff') format('woff'),
        url('../fonts/PragmaticaCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-LightOblique.eot');
    src: local('../fonts/Pragmatica Extended Light Oblique'), local('../fonts/PragmaticaExtended-LightOblique'),
        url('../fonts/PragmaticaExtended-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-LightOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-LightOblique.woff') format('woff'),
        url('../fonts/PragmaticaExtended-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-LightOblique.eot');
    src: local('../fonts/Pragmatica Light Oblique'), local('../fonts/Pragmatica-LightOblique'),
        url('../fonts/Pragmatica-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-LightOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-LightOblique.woff') format('woff'),
        url('../fonts/Pragmatica-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-ExtraBoldObl.eot');
    src: local('../fonts/Pragmatica Extended ExtraBold Oblique'), local('../fonts/PragmaticaExtended-ExtraBoldObl'),
        url('../fonts/PragmaticaExtended-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-ExtraBoldObl.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-ExtraBoldObl.woff') format('woff'),
        url('../fonts/PragmaticaExtended-ExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Bold.eot');
    src: local('../fonts/Pragmatica Bold'), local('../fonts/Pragmatica-Bold'),
        url('../fonts/Pragmatica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-Bold.woff2') format('woff2'),
        url('../fonts/Pragmatica-Bold.woff') format('woff'),
        url('../fonts/Pragmatica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BlackOblique.eot');
    src: local('../fonts/Pragmatica Black Oblique'), local('../fonts/Pragmatica-BlackOblique'),
        url('../fonts/Pragmatica-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-BlackOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-BlackOblique.woff') format('woff'),
        url('../fonts/Pragmatica-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-Bold.eot');
    src: local('../fonts/Pragmatica Extended Bold'), local('../fonts/PragmaticaExtended-Bold'),
        url('../fonts/PragmaticaExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-Bold.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-Bold.woff') format('woff'),
        url('../fonts/PragmaticaExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Black.eot');
    src: local('../fonts/Pragmatica Black'), local('../fonts/Pragmatica-Black'),
        url('../fonts/Pragmatica-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-Black.woff2') format('woff2'),
        url('../fonts/Pragmatica-Black.woff') format('woff'),
        url('../fonts/Pragmatica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-ExtraBoldOblique.eot');
    src: local('../fonts/Pragmatica Cond ExtraBold Oblique'), local('../fonts/PragmaticaCond-ExtraBoldOblique'),
        url('../fonts/PragmaticaCond-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-ExtraBoldOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-ExtraBoldOblique.woff') format('woff'),
        url('../fonts/PragmaticaCond-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-MediumOblique.eot');
    src: local('../fonts/Pragmatica Cond Medium Oblique'), local('../fonts/PragmaticaCond-MediumOblique'),
        url('../fonts/PragmaticaCond-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-MediumOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-MediumOblique.woff') format('woff'),
        url('../fonts/PragmaticaCond-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Medium.eot');
    src: local('../fonts/Pragmatica Medium'), local('../fonts/Pragmatica-Medium'),
        url('../fonts/Pragmatica-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-Medium.woff2') format('woff2'),
        url('../fonts/Pragmatica-Medium.woff') format('woff'),
        url('../fonts/Pragmatica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BookOblique.eot');
    src: local('../fonts/Pragmatica Book Oblique'), local('../fonts/Pragmatica-BookOblique'),
        url('../fonts/Pragmatica-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-BookOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-BookOblique.woff') format('woff'),
        url('../fonts/Pragmatica-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-BoldOblique.eot');
    src: local('../fonts/Pragmatica Cond Bold Oblique'), local('../fonts/PragmaticaCond-BoldOblique'),
        url('../fonts/PragmaticaCond-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-BoldOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-BoldOblique.woff') format('woff'),
        url('../fonts/PragmaticaCond-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-ExtraBold.eot');
    src: local('../fonts/Pragmatica Cond ExtraBold'), local('../fonts/PragmaticaCond-ExtraBold'),
        url('../fonts/PragmaticaCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-ExtraBold.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-ExtraBold.woff') format('woff'),
        url('../fonts/PragmaticaCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-MediumObliqu.eot');
    src: local('../fonts/Pragmatica Extended Medium Oblique'), local('../fonts/PragmaticaExtended-MediumObliqu'),
        url('../fonts/PragmaticaExtended-MediumObliqu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-MediumObliqu.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-MediumObliqu.woff') format('woff'),
        url('../fonts/PragmaticaExtended-MediumObliqu.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-BookOblique.eot');
    src: local('../fonts/Pragmatica Cond Book Oblique'), local('../fonts/PragmaticaCond-BookOblique'),
        url('../fonts/PragmaticaCond-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-BookOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-BookOblique.woff') format('woff'),
        url('../fonts/PragmaticaCond-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-ExtraLight.eot');
    src: local('../fonts/Pragmatica Extended ExtraLight'), local('../fonts/PragmaticaExtended-ExtraLight'),
        url('../fonts/PragmaticaExtended-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-ExtraLight.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-ExtraLight.woff') format('woff'),
        url('../fonts/PragmaticaExtended-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-MediumOblique.eot');
    src: local('../fonts/Pragmatica Medium Oblique'), local('../fonts/Pragmatica-MediumOblique'),
        url('../fonts/Pragmatica-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-MediumOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-MediumOblique.woff') format('woff'),
        url('../fonts/Pragmatica-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraBold.eot');
    src: local('../fonts/Pragmatica ExtraBold'), local('../fonts/Pragmatica-ExtraBold'),
        url('../fonts/Pragmatica-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraBold.woff') format('woff'),
        url('../fonts/Pragmatica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-ExtraLight.eot');
    src: local('../fonts/Pragmatica Cond ExtraLight'), local('../fonts/PragmaticaCond-ExtraLight'),
        url('../fonts/PragmaticaCond-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-ExtraLight.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-ExtraLight.woff') format('woff'),
        url('../fonts/PragmaticaCond-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Light.eot');
    src: local('../fonts/Pragmatica Light'), local('../fonts/Pragmatica-Light'),
        url('../fonts/Pragmatica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-Light.woff2') format('woff2'),
        url('../fonts/Pragmatica-Light.woff') format('woff'),
        url('../fonts/Pragmatica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-ExtraLightOb.eot');
    src: local('../fonts/Pragmatica Extended ExtraLight Oblique'), local('../fonts/PragmaticaExtended-ExtraLightOb'),
        url('../fonts/PragmaticaExtended-ExtraLightOb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-ExtraLightOb.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-ExtraLightOb.woff') format('woff'),
        url('../fonts/PragmaticaExtended-ExtraLightOb.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-Light.eot');
    src: local('../fonts/Pragmatica Cond Light'), local('../fonts/PragmaticaCond-Light'),
        url('../fonts/PragmaticaCond-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-Light.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-Light.woff') format('woff'),
        url('../fonts/PragmaticaCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-BlackOblique.eot');
    src: local('../fonts/Pragmatica Cond Black Oblique'), local('../fonts/PragmaticaCond-BlackOblique'),
        url('../fonts/PragmaticaCond-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-BlackOblique.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-BlackOblique.woff') format('woff'),
        url('../fonts/PragmaticaCond-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-Bold.eot');
    src: local('../fonts/Pragmatica Cond Bold'), local('../fonts/PragmaticaCond-Bold'),
        url('../fonts/PragmaticaCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-Bold.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-Bold.woff') format('woff'),
        url('../fonts/PragmaticaCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Cond';
    src: url('../fonts/PragmaticaCond-Black.eot');
    src: local('../fonts/Pragmatica Cond Black'), local('../fonts/PragmaticaCond-Black'),
        url('../fonts/PragmaticaCond-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaCond-Black.woff2') format('woff2'),
        url('../fonts/PragmaticaCond-Black.woff') format('woff'),
        url('../fonts/PragmaticaCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Shadow';
    src: url('../fonts/PragmaticaShadow-Book.eot');
    src: local('../fonts/Pragmatica Shadow Book'), local('../fonts/PragmaticaShadow-Book'),
        url('../fonts/PragmaticaShadow-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaShadow-Book.woff2') format('woff2'),
        url('../fonts/PragmaticaShadow-Book.woff') format('woff'),
        url('../fonts/PragmaticaShadow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-BoldOblique.eot');
    src: local('../fonts/Pragmatica Bold Oblique'), local('../fonts/Pragmatica-BoldOblique'),
        url('../fonts/Pragmatica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-BoldOblique.woff2') format('woff2'),
        url('../fonts/Pragmatica-BoldOblique.woff') format('woff'),
        url('../fonts/Pragmatica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-Book.eot');
    src: local('../fonts/Pragmatica Book'), local('../fonts/Pragmatica-Book'),
        url('../fonts/Pragmatica-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-Book.woff2') format('woff2'),
        url('../fonts/Pragmatica-Book.woff') format('woff'),
        url('../fonts/Pragmatica-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/Pragmatica-ExtraLight.eot');
    src: local('../fonts/Pragmatica ExtraLight'), local('../fonts/Pragmatica-ExtraLight'),
        url('../fonts/Pragmatica-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pragmatica-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pragmatica-ExtraLight.woff') format('woff'),
        url('../fonts/Pragmatica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica Extended';
    src: url('../fonts/PragmaticaExtended-ExtraBold.eot');
    src: local('../fonts/Pragmatica Extended ExtraBold'), local('../fonts/PragmaticaExtended-ExtraBold'),
        url('../fonts/PragmaticaExtended-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PragmaticaExtended-ExtraBold.woff2') format('woff2'),
        url('../fonts/PragmaticaExtended-ExtraBold.woff') format('woff'),
        url('../fonts/PragmaticaExtended-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

