@mixin page-width {
  width: 95vw;
  height: 90vh;

  @media (max-width: $tablet-width) {
    height: auto;
  }
}

@mixin section {
  
  background-size: cover;
  padding-bottom: 3vh;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@mixin blue-button-promo {
  font-size: 3.2vh;
  line-height: 3.6vh;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue-color;
  text-align: center;
  border-radius: 30px;
  padding: 10px 3%;

  @media (max-width: $tablet-width) {
    width: 30%;
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 48%;
  }
}

@mixin section-header {
  font-size: 3vh;
  color: #ffffff;
  font-weight: 500;
  font-family: $font-pragmatica-extended;
  text-decoration: underline;

  @media (max-width: $mobile-width) {
    font-size: 4vh;
  }
}

@mixin section-text {
  font-size: 2.8vh;
  color: $red-color;
  font-weight: 300;
  font-family: $font-pragmatica-extended;
}

@mixin item-header {
  color: $blue-color;
  font-weight: 500;
  font-family: "Pragmatica Extended";

  @media (max-width: $mobile-width) {
    font-size: 2.8vh;
  }
}

@mixin item-text {
  font-size: 2.6vh;
  line-height: 3vh;
  color: #fa868f;
  font-weight: 500;

  @media (max-width: $mobile-width) {
    font-size: 2.4vh;
    line-height: 2.6vh;
  }
}

@mixin blue-button {
  font-size: 2.6vh;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue-color;
  text-align: center;
  border-radius: 30px;
  padding: 15px 3%;
  margin-bottom: 30px;
  margin-top: 40px;

  @media (max-width: $tablet-width) {
    width: 65%;
    font-size: 2vh;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 50%;
  }
}

@mixin text {
  font-size: 2.8vh;
  color: #ffffff;
  font-weight: 500;
  font-family: $font-pragmatica-extended;
  text-align: center;
}

@mixin green-button {
  border-radius: 18px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(90deg, #49d0a8 0%, #43b5af 100%);
  border: 1px solid #ffffff;
  font-size: 2vh;
  line-height: 3vh;
  color: #ffffff;
  padding: 15px 4%;

  @media (max-width: $mobile-width) {
    font-size: 1.8vh;
    padding: 10px 1%;
  }
}

@mixin green-button-in-form {
  border-radius: 18px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(90deg, #49d0a8 0%, #43b5af 100%);
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 15px 4%;
  
    font-size: 3.2vh;
  line-height: 3.6vh;
color: #ffffff;
text-align: center;
  padding: 10px 65px 10px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  position: relative;
  
  @media(max-width: $tablet-width) {
    font-size: 18px;
  }
  
  &:before {
    content: "";
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    background-image: url("../img/button-icon-green.png");
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

@mixin violet-button {
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(170deg, #825482 0%, #da6d50 100%);
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

@mixin slider-buttons {
  @include button;
  height: 130px;
  width: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
    
    @media (max-width: $tablet-width) {
      bottom: auto;
      top: 190px;
    }
    
    @media (max-width: $mobile-width) {
      width: 30px;
      height: 55px;
      top: 130px;
      background-size: cover;
    }
  
  &--left {
    left: -7vw;
    background-image: url("../img/arrow-left.png");
    
    @media (max-width: $tablet-width) {
      left: 10px;
    }
  }
  
  &--right {
    right: -7vw;
    background-image: url("../img/arrow-right.png");
    
    @media (max-width: $tablet-width) {
      right: 10px;
    }
  }
}

@mixin blue-button-in-form {
  font-size: 20px;
line-height: 36px;
color: #ffffff;
text-align: center;
  background-color: $blue-color;
  padding: 10px 65px 10px 25px;
  border-radius: 20px;
  text-transform: uppercase;
  position: relative;
  border: none;
  
  @media(max-width: $tablet-width) {
    font-size: 2.2vh;
    line-height: 5vh;
  }
  
  &:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px;
    background-image: url("../img/button-icon.png");
  }
}

@mixin item-blue-button {
  font-size: 2vh;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue-color;
  text-align: center;
  border-radius: 30px;
  padding: 5px 3%;
  margin-bottom: 30px;
  margin-top: 40px;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-row-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin cancel-list {
  list-style: none;
}

@mixin button {
  background: transparent;
  border: none;
  outline: none;
}
