@mixin page-width {
  height: 80vh;
  padding-bottom: 5vh;
  width: 78vw;
  max-width: 1440px;

  @media (max-width: $tablet-width) {
    width: 93vw;
    height: auto;
  }

  @media (max-width: $mobile-width) {
    width: 90vw;
    height: auto;
  }
}

@mixin section {
}

$height: 2.8em;
$width: 10em;
$button-color: #EE3769;

@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

*,*:before,*:after{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
$height: 2.6em;
$width: 10em;
$button-color: #EE3769;

@mixin blue-button-promo {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 2.6em;
  padding: 1rem;
  outline: none;
  overflow: hidden;
  color: $blue-color;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  z-index: 1;
  position: relative;
  position: absolute;
  font-size: calc(3.5*var(--rem);
  line-height: calc(5*var(--rem));
  border: 1px solid $blue-color;
  
  &::before{
    @include center;
    content:'';
    border-radius: 50%;
    display: block;
    width: $width*2;
    height: $width*2;
    line-height: $width*2;
    left: -$width/2;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  //position: relative;
  background-size: cover;
  }
  
  &:hover{
    color: #fff;
    &::before{
    box-shadow:inset 0 0 0 $width rgba($blue-color,1);
    }
  }
}

*,*:before,*:after{
  box-sizing: border-box;
}


@mixin section-header {
  font-size: calc(6.5*var(--rem));
  color: #ffffff;
  font-weight: 500;
  font-family: $font-pragmatica-extended;
  text-decoration: underline;
  margin-bottom:  calc(17*var(--rem));
  line-height: calc(8*var(--rem));
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    width: 90vw;
    margin-bottom: 3vh
  }
}

@mixin section-text {
  font-size: calc(5*var(--rem);
  line-height: calc(5.5*var(--rem));
  color: $red-color;
  font-weight: 300;
  font-style: italic;
  font-family: $font-pragmatica-extended;
}

@mixin item-header {
  color: $blue-color;
  font-weight: 600;
  font-family: $font-pragmatica-extended;
  font-size: calc(5*var(--rem);
  line-height: calc(7*var(--rem);

  @media (max-width: $mobile-width) {
    font-size: 2.5vh;
  }
}

@mixin item-text {
  font-size: calc(5*var(--rem);
  line-height: calc(7*var(--rem);
  color: #fa868f;
  font-weight: 500;

  @media (max-width: $mobile-width) {
    font-size: 2.2vh;
    line-height: 2.6vh;
  }
}

@mixin blue-button {
  font-size: calc(4.5*var(--rem);
  line-height: calc(5*var(--rem));
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue-color;
  text-align: center;
  border-radius: 30px;
  padding: 1.4vh 5%;

  @media (max-width: $tablet-width) {
    width: 65%;
    font-size: 2vh;
  }

  @media (max-width: $mobile-width) {
    width: 50%;
  }
  
  &::before{
    @include center;
    content:'';
    border-radius: 50%;
    display: block;
    width: $width*2;
    height: $width*2;
    line-height: $width*2;
    left: -$width/2;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  //position: relative;
  }
  
  &:hover{
    color: #fff;
    &::before{
    box-shadow:inset 0 0 0 $width rgba($blue-color,1);
    }
  }
}

@mixin text-header {
  font-size: calc(5*var(--rem));
  line-height: calc(7*var(--rem));
  color: $white-color;
  font-family: $font-pragmatica-extended;

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

@mixin text {
  font-size: calc(5*var(--rem);
  line-height: calc(6*var(--rem);
  color: $white-color;

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

@mixin green-button {
  border-radius: 18px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(90deg, #49d0a8 0%, #43b5af 100%);
  border: 1px solid #ffffff;
  font-size: calc(4*var(--rem);
  line-height: calc(7*var(--rem);
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 1vh 3%;

  @media (max-width: $mobile-width) {
    font-size: 1.8vh;
    padding: 10px 1%;
  }
}

@mixin green-button-in-form {
  border-radius: 18px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(90deg, #49d0a8 0%, #43b5af 100%);
  font-size: calc(4.5*var(--rem);
  line-height: calc(5*var(--rem));
  color: #ffffff;
  text-align: center;
  text-align: left;
  border-radius: 20px;
  text-transform: uppercase;
  position: relative;
  border: none;
  height: calc(13.5*var(--rem);
  width: 77%;
  
  @media(max-width: $tablet-width) {
    font-size: 2.2vh;
    line-height: 5vh;
  }
  
  &:before {
    content: "";
    width: calc(11.5*var(--rem));
    height: 87%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 8px;
    background-size: cover;
    background-image: url("../img/button-icon-green.png");
  }
}

@mixin violet-button {
  font-size: calc(5*var(--rem);
  line-height: calc(5*var(--rem));
  color: #ffffff;
  border-radius: 10px;
  filter: drop-shadow(4.95px 4.95px 0px rgba(0,0,0,0.05));
  background-image: linear-gradient(170deg, #825482 0%, #da6d50 100%);
  border: 1px solid #ffffff;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-decoration: none;
}

@mixin slider-buttons {
  @include button;
  height: 130px;
  width: 73px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  z-index: 30;
    
    @media (max-width: $tablet-width) {
      bottom: auto;
      top: 190px;
    }
    
    @media (max-width: $mobile-width) {
      width: 30px;
      height: 55px;
      top: 130px;
      background-size: cover;
    }
  
  &--left {
    left: -120px;
    background-image: url("../img/arrow-left.png");
    
    @media (max-width: $tablet-width) {
      left: 10px;
    }
  }
  
  &--right {
    right: -120px;
    background-image: url("../img/arrow-right.png");
    
    @media (max-width: $tablet-width) {
      right: 10px;
    }
  }
}

@mixin blue-button-in-form {
  font-size: calc(4.5*var(--rem);
  line-height: calc(5*var(--rem));
  color: #ffffff;
  text-align: center;
  background-color: $blue-color;
  padding: 1% 17% 1% 1%;
  border-radius: 20px;
  text-transform: uppercase;
  position: relative;
  border: none;
  height: calc(13.5*var(--rem);
  width: 85%;
  
  @media(max-width: $tablet-width) {
    font-size: 2.2vh;
    line-height: 5vh;
  }
  
  &:before {
    content: "";
    width: calc(11.5*var(--rem));
    height: 87%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 8px;
    background-size: cover;
    background-image: url("../img/button-icon.png");
  }
}

@mixin item-blue-button {
  font-size: calc(4*var(--rem);
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue-color;
  text-align: center;
  border-radius: 30px;
  padding: 1vh 3%;

  @media (max-width: $tablet-width) {
    font-size: 1.8vh;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-row-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin cancel-list {
  list-style: none;
}

@mixin button {
  background: transparent;
  border: none;
  outline: none;
}

:root {
  --rem: 0.45vh;
  --header-height: calc(35*var(--rem));
}
