$font-pragmatica: "Pragmatica", "Arial", sans-serif;
$font-pragmatica-extended: "Pragmatica Extended", "Arial", sans-serif;
$font-neue: "Bebas Neue", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;
$mobile-width-only: 767px;
$tablet-width: 1199px;
$desktop-width: 1200px;
$mobile-width: 767px;


$white-color: #ffffff;
$black-color: #0b0220;
$blue-color: #6f89d1;
$dark-blue-color: #3e3063;
$red-color: #ffa9b3;
